@use "../shared/mixin.scss" as main;

section {
  @include main.center();

  h2 {
    -webkit-text-stroke: 2px main.$main-color1;
    color: black;
    font-size: 54px;
    align-self: flex-end;
    writing-mode: vertical-rl;
    rotate: 180deg;
  }

  .reference-wrapper {
    @include main.center($x: 20px);
    flex-direction: column;

    .reference {
      @include main.center($x: 10px);
      border: solid 2px main.$main-color1;
      border-radius: 20px;
      width: 500px;
      min-height: 180px;
      padding: 20px;

      .comment {
        font-size: 18px;
        white-space: wrap;
        width: 280px;
        text-align: center;
      }

      .border {
        height: 120px;
        border: solid 1px main.$main-color1;
        margin: 0 5px 0 5px;
      }

      .recoment {
        @include main.center();
        flex-direction: column;
        color: main.$main-color1;
        :first-child {
          font-size: 24px;
        }
        :nth-child(2) {
          font-size: 14px;
          opacity: 0.8;
        }
      }
    }
  }
}
