@use "../shared/mixin.scss" as main;

@media (max-width: 1025px) {
  section {
    flex-direction: column;
    width: 90dvw;

    h2 {
      align-self: flex-start;
    }
  }
}

@media (max-width: 930px) {
  section {
    .reference-wrapper {
      width: 90dvw;
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: scroll;

      .reference {
        .comment {
          font-size: 14px;
        }

        blockquote::before,
        blockquote::after {
          padding: 0 3px;
          font-size: 20px;
        }

        .border {
            height: 80%;
        }

        .recoment {
          :first-child {
            font-size: 22px;
          }

          :nth-child(2) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
