@use "../shared/mixin.scss" as main;

section {
  @include main.center();
  margin-right: 70px;

  h2 {
    @include main.h2();
    @include main.arrow();
  }

  .reference-wrapper {
    @include main.center($x: 15px);
    flex-direction: column;

    .reference {
      @include main.center($x: 10px);
      border: solid 2px main.$main-color1;
      border-radius: 20px;
      width: 850px;
      padding: 15px;

      .comment {
        display: flex;
        border-right: solid 2px main.$main-color1;
        font-size: 18px;
        white-space: wrap;
        word-wrap: break-word;
        width: 75%;
        text-align: center;
      }

      blockquote::before {
        content: open-quote;
      }

      blockquote::after {
        content: close-quote;
        align-self: flex-end;
      }

      blockquote::before,
      blockquote::after {
        padding: 0 10px;
        opacity: 0.7;
        color: main.$main-color1;
        font-size: 40px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }

      .recoment {

        @include main.center();
        flex-direction: column;
        color: main.$main-color1;
        text-align: center;
        margin: auto;
        :first-child {
          font-size: 24px;
        }
        :nth-child(2) {
          font-size: 14px;
          opacity: 0.8;
        }
      }
    }
  }
}

.dots{
  display: none;
}
