<section>
    <h2>{{'references.header'| translate}}
        <a class="jumpnextsection"></a>
    </h2>
    

    <div class="reference-wrapper">

        @for (reference of referenceArray; track $index) {

        <div class="reference">

            <blockquote  class="comment">{{ reference.comment | translate}}</blockquote >

            <div class="border"></div>

            <div class="recoment">

                <p> {{reference.name}} </p>
                <p>{{reference.project | translate}}</p>

            </div>

        </div>
        }
    </div>
</section>