<section>
    <h2>{{'references.header'| translate}}
        <a class="jumpnextsection"></a>
    </h2>
    

    <div class="reference-wrapper" (scroll)="onScroll($event)">

        @for (reference of referenceArray; track $index) {

        <div #scrollElement class="reference">

            <blockquote  class="comment">{{ reference.comment | translate}}</blockquote >

            <div class="recoment">

                <p> {{reference.name}} </p>
                <p>{{reference.project | translate}}</p>

            </div>

        </div>
        }
    </div>

    <div class="dots">
        <div class="dot" [class.active]="activeIndex === 0"></div>
        <div class="dot" [class.active]="activeIndex === 1"></div>
        <div class="dot" [class.active]="activeIndex === 2"></div>
    </div>
</section>