@use "../shared/mixin.scss" as main;

@media (max-width: 1025px) {
  section {
    flex-direction: column;
    width: 90dvw;

    h2 {
      align-self: flex-start;
    }
  }
}

@media (max-width: 930px) {
  section {
    
    .reference-wrapper {
      width: 100%;
      justify-content: flex-start;
      flex-direction: row;
      overflow-y: hidden; 
      align-items: unset;
      padding: 0 0 10px 0;
          

      .reference {
        gap: 0;
        min-width: 80dvw;
        
        

        .comment {
          font-size: 14px;
          width: 85%;
          margin-right: 5px;
        }

        blockquote::before,
        blockquote::after {
          padding: 0 5px;
          font-size: 17px;
        }

        .recoment {
          :first-child {
            font-size: 22px;
          }

          :nth-child(2) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
