@use "../shared/mixin.scss" as main;

@media (max-width: 1025px) {
  section {
    flex-direction: column;
    width: 90dvw;
    margin-right: unset;

    h2 {
      align-self: flex-start;
    }
  }
}

@media (max-width: 930px) {
  section {
    
    .reference-wrapper {
      width: 100%;
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: scroll; 
      align-items: unset;
      padding: 0 0 10px 0;         

      .reference {
        gap: 0;
        min-width: 80dvw;
        width: unset;
        
        

        .comment {
          font-size: 14px;
          width: 85%;
          margin-right: 5px;
        }

        blockquote::before,
        blockquote::after {
          padding: 0 5px;
          font-size: 17px;
        }

        .recoment {
          :first-child {
            font-size: 22px;
          }

          :nth-child(2) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .reference-wrapper::-webkit-scrollbar {
    all: unset;
  }
  
  .reference-wrapper::-webkit-scrollbar-track {
    all: unset;
  }
  
  .reference-wrapper::-webkit-scrollbar-thumb {
    all: unset;
  }
}

@media (max-width: 450px) {
  section {  
    .reference-wrapper {     
      .reference {
        min-width: 85dvw;
        padding: 10px;
        flex-direction: column-reverse;

        .comment {
          margin-right: unset;
          border-right: unset;
          width: 100%;
        }

        .recoment {
          margin: 0 auto;
          padding:0 15px 10px 15px;
          margin-bottom: 10px;
          border-bottom: 2px solid main.$main-color1;
        }
      }
    }
  }
}
