@use '../../mixin.scss' as main;

section{
    width: 172px;
    height: calc(100dvh - 17px);;
    @include main.center();
    background: main.$colorGradient;

    @media(max-width:1025px) {
        flex-direction: row;
        width: calc(100dvw - 17px);
        height: 73px;
    }

    header{
        @include main.center($jc:space-between);
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 1250px;
        padding: 15% 0 ;

        @media(max-width:1025px) {
            flex-direction: row;
            max-height: unset;
            padding: 0 3% ;
        }

        .logo{
            position: relative;
            width: 60px;
            height: 60px;
            border: 3px solid black;
            border-radius: 50%;
            background: main.$colorGradient;

            div{
                font-weight: 700;
                width: 60px;
                height: 60px;
                position: absolute;
                top: -2px;
                left: -4px;                
                @include main.center();                
                
    
                :nth-child(1){
                    font-size: 60px;
                    padding-bottom: 4px;
                    margin-left: 0px;
                }
    
                :nth-last-child(1){
                    padding-top: 11px;
                    margin-left: -12px;
                    font-size: 50px;
                }
            }

            div:nth-child(1){
                color: white;
                -webkit-text-stroke: 2px black;
            }

            div:nth-child(2){
                color: black;             
                animation: animate 4s ease-in-out infinite;  
            }

            @keyframes animate {
                0%,
                100% {
                  clip-path: polygon(
                    0% 45%,
                    16% 44%,
                    33% 50%,
                    54% 60%,
                    70% 61%,
                    84% 59%,
                    100% 52%,
                    100% 100%,
                    0% 100%
                  );
                }
              
                50% {
                  clip-path: polygon(
                    0% 60%,
                    15% 65%,
                    34% 66%,
                    51% 62%,
                    67% 50%,
                    84% 45%,
                    100% 46%,
                    100% 100%,
                    0% 100%
                  );
                }
              }

        }

        nav{
            width: 100%;
            height: 100%;
            @include main.center($jc:space-around);

            .mobileClose{
                display: none;
                padding: 20px 20px 0 0;
                width: 100%;

                img{
                    height: 35px;
                    aspect-ratio: 1/1;
                }

                img:hover{
                    cursor: pointer;
                }

                @media(max-width:1025px) {
                    @include main.center($jc:flex-end);
                }
            }

            .navmenu{
                @include main.center($x:40px);
                flex-direction: column-reverse;

                a{
                    writing-mode:vertical-rl;
                    rotate: 180deg;
                    font-size: 30px;
                    color: black;
                }

                @media(max-width:1025px) {
                    justify-content: center;
                    gap: 10px;
                    a {
                        writing-mode: unset;
                        rotate: unset;
                        font-size: 25px;
                    }
                }
            }

            .iconsandLanguage{
                position: absolute;
                top : 2%;
                right: 50px;
                width: auto;
                @include main.center($x:40px);

                .icons{
                    @include main.center($x:15px);

                    a{
                        width: 30px;
                        height: 30px;
                        aspect-ratio: 1/1;
                    }

                    :nth-child(1){
                        background-image: url(../../../../assets/img/mail.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    :nth-child(1):hover{
                        background-image: url(../../../../assets/img/mailhover.svg);
                    }

                    :nth-child(2){
                        background-image: url(../../../../assets/img/linkin.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    :nth-child(2):hover{
                        background-image: url(../../../../assets/img/linkinhover.svg);
                    }

                    :nth-child(3){
                        background-image: url(../../../../assets/img/github.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    :nth-child(3):hover{
                        background-image: url(../../../../assets/img/githubhover.svg);
                    }

                    @media(max-width:1025px) {
                        display: none;
                    } 
                }

                .setLanguage{
                    @include main.center();
                    border: 1px solid main.$main-color1;
                    border-radius: 20px;
                    color: main.$main-color1;

                    div{
                        padding: 4px 12px;
                        transition: ease-in-out;
                    }

                    .active {
                        background-color: main.$main-color1;
                        color: main.$main-color3;
                        border-radius: 16px;
                        padding: 4px 16px;
                    }

                    :hover{
                        cursor: pointer;
                    }

                    @media(max-width:1025px) {
                        border: 1px solid main.$main-color2;
                        color: main.$main-color2;
                        .active{
                            background-color: main.$main-color2;
                        }
                    }
                }

                @media(max-width:1025px) {
                    position: unset;                   
                }
            }

            @media(max-width:1025px) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: auto;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                padding: 0 20px 20px 20px;
                background: main.$colorGradient;
                border-radius: 0 0 40px 40px;
            }

        }

        .dropdownmenu{
            display: none;

            @media(max-width:1025px) {
                @include main.center();
            }
        }


    }


}