<div class="portfolio-wrapper">
    <app-big-pic-greet></app-big-pic-greet>
    <app-whyme scrollAnimation direction="top" [threshold]="0.3"></app-whyme>
    <app-skillset scrollAnimation direction="bottom" [threshold]="0.3"></app-skillset>
    <app-mywork scrollAnimation direction="top" [threshold]="0.1"></app-mywork>
    <app-references scrollAnimation direction="bottom" [threshold]="0.2"></app-references>
    <app-contactme scrollAnimation direction="top" [threshold]="0.2"></app-contactme>
</div>