<section>
    <h2>{{'contact.header'| translate}}
        <a class="jumpnextsection"></a>
    </h2>

    <div class="container-wrapper">
        <div class="form-wrapper">

            <form (ngSubmit)="onSubmit(contactForm)" id="sendMeForm" #contactForm="ngForm">

                <input type="text" placeholder="{{'contact.inputName'| translate}}" id="nameInput" class="inputfield" [(ngModel)]="formData.name" name="name" required #name="ngModel" autocomplete="off" minlength="3">

                @if(!name.valid && name.touched){
                    <label for="name">{{'contact.insertName'|translate}}</label>
                }
    
                <input type="email" minlength="3" placeholder="{{'contact.inputMail'| translate}}" id="mailInput" class="inputfield" [(ngModel)]="formData.email" name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #mail="ngModel" autocomplete="off">

                @if(!mail.valid && mail.touched && name.valid){
                    <label for="email">{{'contact.insertMail'|translate}}</label>
                }
    
                <textarea minlength="3" name="textarea" id="textInput" placeholder="{{'contact.inputText'| translate}}" class="inputfield" [(ngModel)]="formData.message" name="message" required #message="ngModel"></textarea>

                @if(!message.valid && message.touched && name.valid && mail.valid){
                    <label for="message">{{'contact.insertMessage'|translate}}</label>
                }
    
                <div class="checkbox-wrapper">
                    <input type="checkbox" name="readPolicity" id="readPolicity" [(ngModel)]="formData.terms" required [checked]="this.formData" class="checkbox-policity">

                    <label for="readPolicity">
                        <span class="checkbox-img"></span>
                        {{'contact.readpolicity1' | translate}} <a href="#">{{'contact.readpolicity2' | translate}} </a> {{'contact.readpolicity3' | translate}}</label>
                </div>
    
                <input type="submit" value="{{'contact.button'| translate}}" class="submitbtn" disabled>
    
            </form>
        </div>
        

        <div class="letsWorkTogether-wrapper">
            <div class="lets-wrapper"> 

                <h4>{{'contact.subheader'|translate}}</h4>
                <p>{{'contact.letsWorkTogetherText' | translate}}</p>
    
                <div class="container-mail-phone-wrapper">
                    <a href="mailto:contact@toni-kleinfeld.de?subject=Mail from my Portfolio" class="mail-phone-container">Email: contact&#64;toni-kleinfeld.com</a>
                </div>

            </div>
            <div class="legal-policy-links">

                <a href="">
                    {{'footer.imprint'|translate}}
                </a>

                <a href="">
                    {{'footer.privacy'|translate}}
                </a>

                <div class="copyr-name">© Toni Kleinfeld 2024</div>
            </div>

        </div>
    </div>


</section>
