@use '../shared/mixin.scss' as main;

section{
    @include main.center($jc:flex-start);
    white-space: wrap;
    h2 {
        @include main.h2();
        align-self: flex-start;
        @include main.arrow();
        .jumpnextsection{
            rotate: 180deg;
        }
      }
}

.container-wrapper{
    @include main.center($jc:flex-start, $ai:flex-start , $x:30px);
    width: 100%;
}
input[type=text],input[type=email],input[type=submit],textarea,form{
    all: unset
}

.form-wrapper{
    width: 100%;

    form{
        @include main.center($x:15px);
        flex-direction: column;
    }

    .inputfield{
        font-size: 14px;
        width: 100%;
        border: 1px solid main.$main-color1;
        border-radius: 30px;
        padding: 20px;
    }
}