<section id="contactMe">
    <h2>{{'contact.header'| translate}}
        <a class="jumpnextsection" href="#header" title="{{'tooltips.arrowBack'| translate}}"></a>
    </h2>

    <div class="container-wrapper">
        <div class="form-wrapper">

            <form (ngSubmit)="onSubmit(contactForm)" id="sendMeForm" #contactForm="ngForm">

                <input type="text" id="nameInput" class="inputfield" [(ngModel)]="formData.name" name="name" required
                    #name="ngModel" autocomplete="off" minlength="3" [class.noValid]="!name.valid && name.touched"
                    [placeholder]="(!name.valid && name.touched) ? ('contact.insertName' | translate) : ('contact.inputName' | translate)">

                <input type="email" minlength="3" id="mailInput" class="inputfield" [(ngModel)]="formData.email"
                    name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #mail="ngModel"
                    autocomplete="off" [class.noValid]="!mail.valid && mail.touched && name.valid"
                    [placeholder]="(!mail.valid && mail.touched && name.valid) ? ('contact.insertMail' | translate) : ('contact.inputMail' | translate)">


                <textarea minlength="3" name="textarea" id="textInput" class="inputfield" [(ngModel)]="formData.message"
                    name="message" required #message="ngModel"
                    [class.noValid]="!message.valid && message.touched && name.valid && mail.valid"
                    [placeholder]="(!message.valid && message.touched && name.valid && mail.valid) ? ('contact.insertMessage' | translate) : ('contact.inputText' | translate)"></textarea>

                @if(!message.valid && message.touched && name.valid && mail.valid){
                <label for="message" class="inputLabel">{{'contact.insertMessage'|translate}}</label>
                }

                <div class="checkbox-wrapper">
                    <input type="checkbox" name="readPolicity" id="readPolicity" [(ngModel)]="formData.terms" required
                        [checked]="this.formData" class="checkbox-policity">

                    <label for="readPolicity">
                        <span class="checkbox-img">
                            @if (formData.terms) {
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM2 16H16V2H2V16Z"
                                    fill="#3dcfb6" />

                                <path transform="scale(0.6) translate(5, 5)"
                                    d="M5.87772 14.5897L1.91585 9.57972C1.47438 9.02147 0.772565 9.02147 0.331099 9.57972C-0.110366 10.138 -0.110366 11.0254 0.331099 11.5837L5.07402 17.5813C5.51549 18.1396 6.22863 18.1396 6.67009 17.5813L18.6689 2.42266C19.1104 1.86441 19.1104 0.976938 18.6689 0.418688C18.2274 -0.139563 17.5256 -0.139563 17.0842 0.418688L5.87772 14.5897Z"
                                    fill="#FFFDFD" />
                            </svg>
                            } @else if (message.valid && name.valid && mail.valid && !formData.terms) {
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM2 16H16V2H2V16Z"
                                    fill="#FD2E12" />
                                <path transform="scale(0.5) translate(14, 5)"
                                    d="M2.60014 16.5715C2.66871 16.9922 2.88391 17.7778 3.55058 17.7778C4.21724 17.7778 4.28353 16.9123 4.43947 16.4445C4.88391 15.1112 6.21725 3.30163 6.21725 2.69845C6.21725 0.888889 5.55058 0 3.55058 0C1.86403 0 0.883911 0.444445 0.883911 2.66671C1.32836 7.55556 2.21724 14.2223 2.60014 16.5715Z"
                                    fill="#FD2E12" />

                                <ellipse transform="scale(0.5) translate(14, 5)" cx="3.55073" cy="22.2222" rx="1.77778"
                                    ry="1.77778" fill="#FD2E12" />
                            </svg>
                            } @else {
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM2 16H16V2H2V16Z"
                                    fill="#FFFDFD" />
                            </svg>
                            }

                        </span>
                        {{'contact.readpolicity1' | translate}} <a href="#">{{'contact.readpolicity2' | translate}} </a>
                        {{'contact.readpolicity3' | translate}}</label>
                </div>

                @if (name.valid && mail.valid && message.valid && formData.terms) {
                <input type="submit" value="{{'contact.button'| translate}}" class="submitbtn" enable>
                } @else {
                <input type="submit" value="{{'contact.button'| translate}}" class="submitbtn" disabled>
                }
            </form>
        </div>


        <div class="letsWorkTogether-wrapper">
            <div class="lets-wrapper">

                <h4>{{'contact.subheader'|translate}}</h4>
                <br>
                <p>{{'contact.letsWorkTogetherText' | translate}}</p>
                <br>
                <br>
                <a href="mailto:contact@toni-kleinfeld.de?subject=Mail from Toni's Portfolio" class="mail-container"
                    title="{{'tooltips.sendMail'|translate}}">Email: contact&#64;toni-kleinfeld.com</a>
            </div>

            <div class="legal-policy-links">

                <a href="">
                    {{'footer.imprint'|translate}}
                </a>
                <br>
                <br>
                <a href="">
                    {{'footer.privacy'|translate}}
                </a>
                <br>
                <br>
                <div class="copyr-name">© Toni Kleinfeld 2024</div>
            </div>

        </div>
    </div>

    <div class="mobile-arrow-icons">
        <a class="arrow" href="#header"></a>
        <app-icons></app-icons>
    </div>
</section>