<section>

    <div class="wrapper">
        <h1>{{'footer.imprint'| translate}}</h1>
        <br>
        <p>
            <span>
                Toni Kleinfeld <br>
                48161 Münster <br>
                {{'impres.country'| translate}}
            </span>
            <br>
            <br>
            <span>
                <a href="mailto:contact@toni-kleinfeld.de?subject=Mail from Toni's Portfolio" class="mail-container"
                    title="{{'tooltips.sendMail'|translate}}">E-mail: contact&#64;toni-kleinfeld.com</a><br>
                {{'impres.phone'| translate}}
            </span>
            <br>
            <br>
            <span>
                {{'impres.create'| translate}} <br><br>
                {{'impres.private'| translate}}
            </span>
        </p>
    </div>

</section>