<section>
    <h2>{{ 'whyme.header' | translate}}</h2>

    <div class="content_whyme">
        <p class="description">{{'whyme.descripeme' | translate}}</p>

        <div class="inside_wrapper">

            <h4>{{'whyme.secondaryheader' | translate}}</h4>

            <div class="icon_wrapper">

                <div class="iconlocation">
                    <div class="img"></div>
                    {{ 'whyme.location'| translate}} Münster
                </div>

                <div class="iconremote">
                    <div class="img"></div>
                    {{'whyme.remote' | translate}}
                </div>

            </div>

            <div class="fullcolorbutton">{{'whyme.button' | translate}}</div>

        </div>

    </div>

</section>