@use "../shared/mixin.scss" as main;
section {
  @include main.center($ai: flex-start);
  width: 1000px;

  padding-bottom: 20%;
  h2 {
    -webkit-text-stroke: 2px main.$main-color1;
    color: black;
    font-size: 54px;
    align-self: flex-start;
    writing-mode: vertical-rl;
    rotate: 180deg;
    padding-left: 5%;
  }

  .content_whyme {
    min-width: 80%;
    p {
      font-size: 18px;
    }

    .inside_wrapper {
      @include main.center($x: 10px);
      flex-direction: column;

      h4 {
        font-size: 48px;
        font-weight: 700;
        color: main.$main-color1;
        align-self: flex-start;
      }

      .icon_wrapper {
        @include main.center($x: 15px);

        div {
          @include main.center();
          flex-direction: column;
          .img {
            display: flex;
            background-repeat: no-repeat;
            background-size: center;
            width: 60px;
            aspect-ratio: 1/1;
          }
        }

        .iconlocation {
          .img {
            background-image: url(../../assets/img/Location.svg);
          }

          .img:hover {
            background-image: url(../../assets/img/LocationHover.svg);
          }
          font-size: 18px;
        }

        .iconremote {
          .img {
            background-image: url(../../assets/img/remote.svg);
          }

          .img:hover {
            background-image: url(../../assets/img/remotehover.svg);
          }
          font-size: 18px;
        }
      }

      .fullcolorbutton {
        @include main.button();
        @include main.butonfilled();
        align-self: flex-end;
        margin-top: 3%;
      }
    }
  }
}
