<section>
    <h2>{{ 'whyme.header' | translate}}</h2>
    <div>
        <p>{{'whyme.descripeme' | translate}}</p>
        <div>
            <h4>{{'whyme.secondaryheader' | translate}}</h4>
            <div class="iconlocation">
                <div class="img"></div>
                Münster
            </div>
            <div>
                <div class="img"></div>
                {{'whyme.remote' | translate}}
            </div>
            <div class="fullcolorbutton">{{'whyme.button' | translate}}</div>
        </div>
    </div>
</section>
