@use "../shared/mixin.scss" as main;
section {
  @include main.center($ai: flex-start);
  width: 850px;
  padding-bottom: 20%;

  @media (max-width: 1025px) {
    width: 80dvw;
    flex-direction: column;
    padding-bottom: 5%;
    align-items: center;
    gap: 30px;
  }

  h2 {
    -webkit-text-stroke: 2px main.$main-color1;
    color: black;
    font-size: 54px;
    align-self: flex-start;
    writing-mode: vertical-rl;
    rotate: 180deg;
    padding-left: 5%;

    @media (max-width: 1025px) {
      writing-mode: unset;
      rotate: unset;
      padding-left: unset;
    }
  }

  .content_whyme {
    min-width: 80%;

    @media (max-width: 1025px) {
      width: 100%;
    }

    .description {
      font-size: 18px;
      max-width: 690px;
      word-wrap: break-word;
      word-break: break-word;
      white-space:wrap;
      padding-bottom: 30px;

      @media (max-width: 1025px) {
        padding-bottom: 30px;
        max-width: unset;
      }
    }

    .inside_wrapper {
      @include main.center($x: 10px);
      flex-direction: column;

      h4 {
        font-size: 48px;
        font-weight: 700;
        color: main.$main-color1;
        align-self: flex-start;

        @media (max-width: 1025px) {
          align-self: unset;
        }
      }

      .icon_wrapper {
        @include main.center($x: 15px);

        @media (max-width: 1025px) {
          flex-direction: column;
        }

        div {
          @include main.center();
          flex-direction: column;
          font-size: 18px;
          .img {
            display: flex;
            background-repeat: no-repeat;
            background-size: center;
            width: 60px;
            aspect-ratio: 1/1;
          }
        }

        .iconlocation {
          .img {
            animation: locationBg 3s infinite;
          }
          
        }

        .iconremote {
          .img {
            animation: remoteBg 2s infinite;
          }
          
        }
      }

      .fullcolorbutton {
        @include main.button();
        @include main.butonfilled();
        align-self: flex-end;
        margin-top: 3%;
        margin-right: 10px;

        @media (max-width: 1025px) {
          align-self: unset;
          margin-right: unset;
        }
      }
    }
  }

  @media (max-width: 730px) {
    h2 {
        font-size: 32px;
        font-weight: 700;
    }
    .content_whyme{
        .description{
            font-size: 16px;
        }
        .inside_wrapper{
            h4{
                font-size: 32px;
            }
            .icon_wrapper{
                div{
                    font-size: 16px;
                }
            }
        }
    }
}
}
