.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 130px;
    height: 60px;
    margin: 20px;
    rotate: (180deg);
}

.arrow:hover{
    background-image: url(../../assets/img/arrowhover.svg);
}

