@use './mixin.scss' as main;
.scroll-animate {
  opacity: 0;
  transition: all 1.5s ease-out;
  will-change: transform, opacity;

  &.from-top {
    transform: translateY(-50px);
  }

  &.from-bottom {
    transform: translateY(50px);
  }

  &.visible {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 1025px) {
  .scroll-animate {
    &.from-top {
      transform: translateX(-200px);
    }

    &.from-bottom {
      transform: translateX(200px);
    }

    &.visible {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media (max-width: 500px) {
  .scroll-animate {
    &.from-top {
      transform: translateX(-50px);
    }

    &.from-bottom {
      transform: translateX(50px);
    }

    &.visible {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@keyframes remoteBg {
  0%,
  100% {
    background-image: url(../../assets/img/remote.svg);
  }
  50% {
    background-image: url(../../assets/img/remotehover.svg);
  }
}

@keyframes locationBg {
  0%,
  100% {
    background-image: url(../../assets/img/Location.svg);
  }
  50% {
    background-image: url(../../assets/img/LocationHover.svg);
  }
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@-webkit-keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveright {
  0% {
    transform: translateX(43px);
    color: main.$main-color2;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color2;
  }
}

@keyframes moveright {
  0% {
    transform: translateX(43px);
    color: main.$main-color2;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color2;
  }
}

@-webkit-keyframes moveleft {
  0% {
    transform: translateX(-43px);
    color: main.$main-color2;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color2;
  }
}

@keyframes moveleft {
  0% {
    transform: translateX(-43px);
    color: main.$main-color2;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color2;
  }
}

@-webkit-keyframes moveright2 {
  0% {
    transform: translateX(43px);
    color: main.$main-color1;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color1;
  }
}

@keyframes moveright2 {
  0% {
    transform: translateX(43px);
    color: main.$main-color1;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color1;
  }
}

@-webkit-keyframes moveleft2 {
  0% {
    transform: translateX(-43px);
    color: main.$main-color1;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color1;
  }
}

@keyframes moveleft2 {
  0% {
    transform: translateX(-43px);
    color: main.$main-color1;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color1;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@-webkit-keyframes fillBg {
  0% {
    background-color: transparent;
    width: 15px;
  }
  100% {
    background-color: main.$main-color1;
    width: 30px;
  }
}

@keyframes fillBg {
  0% {
    background-color: transparent;
    width: 15px;
  }
  100% {
    background-color: main.$main-color1;
    width: 30px;
  }
}

@-webkit-keyframes emptyBg {
  0% {
    background-color: main.$main-color1;
    width: 30px;
  }
  100% {
    background-color: transparent;
    width: 15px;
  }
}

@keyframes emptyBg {
  0% {
    background-color: main.$main-color1;
    width: 30px;
  }
  100% {
    background-color: transparent;
    width: 15px;
  }
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
