@use "./mixin.scss" as main;

section {
  @include main.center();
  height: 100%;
  width: calc(100vw - 272px);
  background-image: linear-gradient(
    40deg,
    main.$backgroundcolor1 30%,
    main.$backgroundcolor2 50%,
    main.$backgroundcolor1 70%
  );

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  h5 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  p,
  span,
  a,
  .content {
    font-size: 16px;
    white-space: wrap;
  }

  .wrapper {
    padding: 40px;
    border: 2px solid main.$main-color1;
    background-color: main.$backgroundcoloropacity;
    border-radius: 15px;
    overflow-y: scroll;
    max-width: 80%;
    height: 80%;

    .content {
      width: 100%;
      ul {
        li {
          margin-bottom: 4px;
        }
      }
    }
  }

  @media (max-width: 1025px) {
    padding: 40px 0;
    width: 100%;
    height: calc(100dvh - 226px);

    .wrapper {
      margin: 30px;
      max-height: calc(100dvh - 266px);
      max-width: 90%;
    }
    h1 {
      font-size: 40px;
    }
    p,
    span,
    a {
      font-size: 14px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 16px;
    }
    ul{
      li{
        font-size: 14px;
      }
    }
  }

  @media (max-width: 470px) {
    .wrapper {
      padding: 20px;
    }
    p,
    span,
    a {
      font-size: 12px;
    }
    h1 {
      font-size: 30px;
    }
    h4{
      font-size: 16px;
    }  
    h5{
      font-size: 14px;
    }
    ul{
      li{
        font-size: 12px;
      }
    }
  }
}
.wrapper::-webkit-scrollbar-track{
  margin: 5px;
}
.wrapper::-webkit-scrollbar {
  background-color: transparent;
}