@use "../shared/mixin.scss" as main;

section {
  width: 1175px;
  @include main.center();

  @media (max-width: 1025px) {
    width: 90dvw;
    flex-direction: column;
    padding-bottom: 5%;
    gap: 30px;
  }

  h2 {
    @include main.h2();  
    align-self: flex-start;
    @include main.arrow();
  }

  .skillset-wrapper {
    .skillsetintro {
      font-size: 18px;
      max-width: 860px;
      word-wrap: break-word;
      word-break: break-word;
      white-space: wrap;
      padding-bottom: 30px;

      @media (max-width: 1025px) {
        max-width: unset;
      }
    }

    .iconskills-wrapper {
      @include main.center($x: 5px, $jc: flex-start);
      max-width: 100%;
      flex-wrap: wrap;

      @media (max-width: 1025px) {
        gap: 10px;
        justify-content: center;
      }

      .icon {
        @include main.center($x: 4px);
        flex-direction: column;
        width: 100px;
        height: 100px;
        text-align: center;

        div {
          width: 60px;
          aspect-ratio: 1/1;
          background-repeat: no-repeat;
          background-size: cover;
        }

        @media (max-width: 1025px) {
          margin-top: 10px;
        }
      }

      .text {
        text-align: left;
        width: 215px;
        word-wrap: break-word;
        word-break: break-word;
        white-space: wrap;
        margin-left: 20px;

        @media (max-width: 1025px) {
          width: auto;
          margin-left: unset;
        }
      }
    }
  }
}
