<section scrollAnimation direction="bottom" [threshold]="0.3">
    <h2>{{'myskills.header'| translate}}
        <a class="jumpnextsection" href="#myWork" title="{{'tooltips.arrowNext'|translate}}"></a>
    </h2>
    <div class="skillset-wrapper">
        <div class="skillsetintro">{{'myskills.intro'| translate}}</div>
        <div class="iconskills-wrapper">
          @for (icon of setSkillSet(); track icon){
              <div class="icon">
                <div class="" style="background-image: url(./assets/img/{{icon}}.svg);"></div>
                {{icon | addSpace}}
            </div>
          }
            <div class="text">{{'myskills.challange'|translate}}</div>
        </div>

    </div>
</section>
