@use '../../../../mixin.scss' as main;

.iconsandLanguage{
    position: absolute;
    top : 2%;
    right: 50px;
    width: auto;
    @include main.center($x:40px);

    .icons{
        @include main.center($x:15px);

        a{
            width: 30px;
            height: 30px;
            aspect-ratio: 1/1;
        }

        :nth-child(1){
            background-image: url(../../../../../../assets/img/mail.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        :nth-child(1):hover{
            background-image: url(../../../../../../assets/img/mailhover.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        :nth-child(2){
            background-image: url(../../../../../../assets/img/linkin.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        :nth-child(2):hover{
            background-image: url(../../../../../../assets/img/linkinhover.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        :nth-child(3){
            background-image: url(../../../../../../assets/img/github.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        :nth-child(3):hover{
            background-image: url(../../../../../../assets/img/githubhover.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        @media(max-width:1025px) {
            display: none;
        } 
    }

    .setLanguage{
        @include main.center();
        border: 1px solid main.$main-color1;
        border-radius: 20px;
        color: main.$main-color1;
        width: 99px;
        

        div{
            padding: 4px 12px;
            transition: ease-in-out;
        }

        .active {
            background-color: main.$main-color1;
            color: main.$main-color3;
            border-radius: 16px;
            padding: 4px 16px;
        }

        .moveleft{
            animation: moveleft 0.3s linear;
        }
        @keyframes moveleft {
            0% {
                transform: translateX(-43px);
                color:main.$main-color3
             }
             100% {
                transform: translateX(0);
                color:main.$main-color2
             }
        }
        .moveright{
            animation: moveright 0.3s linear;
        }
        @keyframes moveright {
            0% {
                transform: translateX(43px);
                color:main.$main-color3
             }
             100% {
                transform: translateX(0);
                color:main.$main-color2
             }
        }

        :hover{
            cursor: pointer;
        }

        @media(max-width:1025px) {
            border: 1px solid main.$main-color2;
            color: main.$main-color2;
            .active{
                background-color: main.$main-color2;
            }
        }
    }

    @media(max-width:1025px) {
        position: unset;                   
    }
}