@use "../../../shared/mixin.scss" as main;

@media (max-width: 1025px) {
  section {
    width: 90dvw;
    flex-direction: column;
    h2 {
      writing-mode: unset;
      rotate: unset;
      padding: unset;
    }
    .project-wrapper {
      margin-right: unset;
    }

    .onGoing {
      .talkBtn {
        display: none;
      }
    }
  }
}

@media (max-width: 930px) {
  section {
    gap: 30px;
    .project-wrapper {
      width: 100%;
      height: 100%;
      padding: 0 20px 50px 30px;
      margin-bottom: 70px;
      .project {
        .image-button-container {
          position: unset;
          align-self: center;
        }

        .mobile-size-button {
          bottom: -40px;
          div {
            :nth-child(1) {
              display: none;
            }
            :nth-child(2) {
              display: block;
            }
          }
        }
      }
    }

    .onGoing{
      margin-bottom: 0;
      padding: 20px !important;   
    }

    .smallPreview {
      margin-bottom: 0;
      .project {
        height: 250px;
        overflow-y: hidden;
        overflow-x: hidden;

        .mobile-size-button {
          bottom: 20px;
          div {
            :nth-child(1) {
              display: block;
            }
            :nth-child(2) {
              display: none;
            }
            .icon {
              rotate: unset;
            }
          }
        }
      }
    }
  }

  .mobile-size-button {
    position: absolute;
    @include main.center();
    width: 100%;
    left: 0;
    div {
      @include main.center($x: 10px);
      cursor: pointer;

      p {
        color: main.$main-color1;
        text-decoration: underline;
        margin-bottom: unset;
        text-align: center;
      }

      .icon {
        rotate: 180deg;
        width: 20px;
        height: 20px;
        background-image: url(../../../../assets/img/smallarrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  p {
    max-width: unset;
  }
}

@media (max-width: 730px) {
  section {
    h2 {
      font-size: 32px;
      font-weight: 700;
    }
  }
}

@media (max-width: 750px) {
  section {
    gap: 15px;
    .project-wrapper {
      padding: 10px 20px 50px 20px;
      .project {
        .subHeader {
          .count {
            font-size: 40px;
          }

          h3 {
            font-size: 24px;
            margin: unset;
          }
        }

        ul {
          li {
            font-size: 22px;
          }
        }
      }
    }

    .smallPreview {
      .project {
        height: 200px;
      }
    }
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  section {
    .project-wrapper {
      padding: 10px 20px 50px 15px;
      .project {
        .image-button-container {
          img {
            padding: 5%;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .btn {
    width: auto;
  }
}
