@use "./shared/mixin.scss" as main;

.side_wrapper {
  height: 100vh;
  width: auto;
  @include main.center($jc: flex-start,$ai:unset);
  flex-direction: row;
  color: main.$main-color3;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;

  app-header,
  app-footer {
    @media (max-width: 1025px) {
      width: 100%;
    }
  }

  router-outlet { 
    height: 100vh;
    @include main.center($jc: flex-start);

    background: linear-gradient(
      40deg,
      main.$backgroundcolor1 25%,
      main.$backgroundcolor2 35%,
      main.$backgroundcolor1 45%,
      main.$backgroundcolor1 70%,
      main.$backgroundcolor2 80%,
      main.$backgroundcolor1 90%
    );

    @media (max-width: 1025px) {
      justify-content: center;
      flex-direction: column;
      width: auto;
      height: unset;
    }

    app-whyme {
      align-self: flex-start;
      margin-top: 8vh;

      @media (max-width: 1025px) {
        margin-top: unset;
        align-self: unset;
      }
    }

    app-skillset {
      align-self: flex-end;
      margin-bottom: 8vh;

      @media (max-width: 1025px) {
        margin-bottom: unset;
        align-self: unset;
      }
    }

    app-references {
      align-self: flex-end;
      margin-bottom: 8vh;

      @media (max-width: 1025px) {
        margin-bottom: unset;
        align-self: unset;
      }
    }

    app-contactme{
      align-self: center;
    }
  }

  @media (max-width: 1025px) {
    height: auto;
    width: auto;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
      150deg,
      main.$backgroundcolor1 25%,
      main.$backgroundcolor2 35%,
      main.$backgroundcolor1 45%,
      main.$backgroundcolor1 70%,
      main.$backgroundcolor2 80%,
      main.$backgroundcolor1 90%
    );
    overflow-x: unset;
    overflow-y: unset;
    white-space: unset;
  }
}
