<div class="side_wrapper" appHorizonalscroll>

    <app-header></app-header>

    <router-outlet>

        <app-big-pic-greet></app-big-pic-greet>
        <app-arrow class="arrow1"></app-arrow>
        <app-whyme></app-whyme>
        <app-arrow class="arrow2"></app-arrow>
        <app-skillset></app-skillset>
        <app-arrow class="arrow3"></app-arrow>
        <app-mywork></app-mywork>
        <app-arrow class="arrow4"></app-arrow>
        <app-references></app-references>

    </router-outlet>

    <app-footer></app-footer>

</div>