@use '../../mixin.scss' as main;

section{
    height: calc(100dvh - 17px);
    width: 100px;
    background: main.$colorGradient;

    app-logo,.copyr-name,.linkContainer>a{
        display: none;
        color: black;

        @media(max-width:1025px) {
            display: unset;
            font-size: 14px;
        }

        @media(max-width:430px) {
            font-size: 13px;
        }
    }

    @include main.center($x:8px);
    flex-direction: column;

    .linkContainer {
        @include main.center($x:8px);
        flex-direction: row;
    }

    @media(max-width:1025px) {
        width: 100%;
        height: 153px;
    }
}