<section>
  <div class="wrapper">
    <h1>{{'footer.privacy'|translate}}</h1>
    <br>

    <h4>1. {{'privacy.owner'|translate}}:</h4>
    <p>
      Toni Kleinfeld <br>
      48161 Münster <br>
      {{'impres.country'| translate}}
    </p>

    <br>

    <h4>2. {{'privacy.purpose.header'| translate}}:</h4>
    <div class="content">
      {{'privacy.purpose.content'|translate}}
    </div>

    <br>

    <h4>3. {{'privacy.legalhead.header'|translate}}:</h4>
    <div class="content">
      {{'privacy.legalhead.content'|translate}}
    </div>

    <br>

    <h4>4. {{'privacy.storage.header'|translate}}: </h4>
    <div class="content">
      {{'privacy.storage.content'|translate}}
    </div>

    <br>

    <h4>5. {{'privacy.thirdparty.header'|translate}}</h4>
    <div class="content">
      <p>{{'privacy.thirdparty.part1'|translate}}</p><br>
      <p>{{'privacy.thirdparty.part2'|translate}}</p> <br>
      <p>{{'privacy.thirdparty.part3'|translate}}</p>
      <a href="https://www.strato.de/datenschutz/" target="_blank">https://www.strato.de/datenschutz/</a>
      <br>
      <br>
      <p>{{'privacy.thirdparty.part4'|translate}}</p>
    </div>

    <br>

    <h4>6. {{'privacy.userrights.header'|translate}}:</h4>
    <ul>
      <li>{{'privacy.userrights.point1'|translate}}</li>
      <li>{{'privacy.userrights.point2'|translate}}</li>
      <li>{{'privacy.userrights.point3'|translate}}</li>
      <li>{{'privacy.userrights.point4'|translate}}</li>
      <li>{{'privacy.userrights.point5'|translate}}</li>
      <li>{{'privacy.userrights.point6'|translate}}</li>
    </ul>

    <br>

    <h4>7. {{'privacy.contactoption'|translate}}:</h4>
    <a href="mailto:contact@toni-kleinfeld.de?subject=Mail from Toni's Portfolio" class="mail-container"
      title="{{'tooltips.sendMail'|translate}}">E-mail: contact&#64;toni-kleinfeld.com</a>
    <br>
    <br>

    <h4>8. {{'privacy.external.header'|translate}}:</h4>
    <div class="content">
      <p>{{'privacy.external.part1'|translate}}</p>
      <br>
      <h5>{{'privacy.external.subhead'|translate}}:</h5>
      <ul>
        <li>{{'privacy.external.li1'|translate}}
          <br>
          <a
            href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement.</a>
        </li>
        <li>{{'privacy.external.li2'|translate}} <br>
          <a href="https://www.linkedin.com/legal/privacy-policy">https://www.linkedin.com/legal/privacy-policy.</a>
        </li>
        <li>{{'privacy.external.li3'|translate}} <br>
          <a href="https://www.strato.de/datenschutz/">https://www.strato.de/datenschutz/.</a>
        </li>
      </ul>
      <br>
      <p>{{'privacy.external.part2'|translate}}</p>
    </div>

  </div>
</section>
