@use "../../../shared/mixin.scss" as main;
section {
  @include main.center($ai: flex-start, $jc: flex-start);
  width: 1050px;

  @media (max-width: 1025px) {
    justify-content: center;
    width: 90dvw;
    flex-direction: column;
    padding-bottom: 5%;
    align-items: center;
    gap: 20px;
  }

  h2 {
    @include main.h2();
    align-self: flex-start;
    @include main.arrow();
  }

  .content_whyme {
    @media (max-width: 1025px) {
      width: 100%;
    }

    .description {
      font-size: 18px;
      max-width: 690px;
      word-wrap: break-word;
      word-break: break-word;
      white-space: wrap;
      padding-bottom: 30px;

      @media (max-width: 1025px) {
        padding-bottom: 30px;
        max-width: unset;
      }
    }

    .inside_wrapper {
      @include main.center($x: 10px);
      flex-direction: column;

      h4 {
        font-size: 48px;
        font-weight: 700;
        color: main.$main-color1;
        align-self: flex-start;

        @media (max-width: 1025px) {
          align-self: unset;
        }
      }

      .fullcolorbutton {
        @include main.button();
        @include main.butonfilled();
        align-self: flex-end;
        margin-top: 3%;
        margin-right: 10px;

        @media (max-width: 1025px) {
          align-self: unset;
          margin-right: unset;
        }
      }
    }
  }

  @media (max-width: 730px) {
    .content_whyme {
      .description {
        font-size: 16px;
      }
      .inside_wrapper {
        h4 {
          font-size: 32px;
        }
      }
    }
  }
}
