<section id="whyMe">
    <h2 >{{ 'header.whyme' | translate}}
        <a class="jumpnextsection" href="#mySkills" title="{{'tooltips.arrowNext'|translate}}"></a>
    </h2>

    <div class="content_whyme">
        <p class="description">{{'whyme.descripeme' | translate}}</p>

        <div class="inside_wrapper">

            <h4>{{'whyme.secondaryheader' | translate}}</h4>

            <app-whymeicons></app-whymeicons>

            <a class="fullcolorbutton" href="#contactMe" title="{{'tooltips.contact'|translate}}">
                <span>{{'whyme.button' | translate}}</span>
                <div class="btnHover">{{'whyme.button' | translate}}</div>
            </a>

        </div>

    </div>

</section>