@use "../../../shared/mixin.scss" as main;
section {
  width: 70vw;
  max-width: 1608px;
  height: 100dvh;
  max-height: 1250px;
  @include main.center($jc: flex-end, $ai: flex-end);
  padding: 0 10% 15% 0;
  flex-direction: column;
  font-weight: 700;
  background-image: url(../../../../assets/img/heroimg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 80vh;

  h1 {
    font-size: 100px;
    color: main.$main-color1;
  }

  h3 {
    font-size: 48px;
    -webkit-text-stroke: 1px main.$main-color1;
    color: black;
  }

  @media (max-width: 1025px) {
    height: calc(100dvh - 73px);
    width: 95dvw;
    background-size: 80%;
    background-position: top;
    padding: 0 0 5% 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;

    @media (orientation: landscape) {
      height: calc(100vw * 1.2);
    }

    .start {
      display: none !important;
    }
  }

  @media (min-width:2199px){
    .start{
      display: none !important;
    }
  }

  @media (max-width: 730px) {
    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 24px;
    }
  }

  @media (max-width: 450px) {
    height: calc(100vw * 1.2);
  }
}

.arrow-anker {
  position: relative;
}

.start {
  position: absolute;
  right: 10%;
  top: -50%;
  width: 60vw;
  max-width: 1200px;
  height: 42px;
  scale: 0.8;
  background: url(../../../../assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: left;
  rotate: 180deg;
  -webkit-animation: shake-horizontal 3000ms
    cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  animation: shake-horizontal 3000ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;

  &:hover {
    filter: drop-shadow(0px 0px 30px main.$main-color1);
    animation: unset;
  }
}

.typinganimation h1,
.typinganimation h3 {
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  -webkit-animation: typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  border-right: 0.15em solid orange;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}
