@use "../../../shared/mixin.scss" as main;

section {
  @include main.center($jc: flex-start);
  white-space: wrap;
  h2 {
    @include main.h2();
    align-self: flex-start;
    @include main.arrow();
    .jumpnextsection {
      rotate: 180deg;
    }
  }
}

.container-wrapper {
  @include main.center($jc: flex-start, $ai: flex-start, $x: 20px);
  width: 950px;
  height: 75vh;
}

.inputLabel {
  font-size: 12px;
  align-self: flex-start;
  color: main.$main-color-wrong;
  margin: -14px 0;
}

.letsWorkTogether-wrapper {
  width: 50%;
  height: 100%;
  @include main.center($jc: space-between);
  flex-direction: column;

  .lets-wrapper,
  .legal-policy-links {
    text-align: end;
    width: 90%;
  }

  .lets-wrapper {
    h4 {
      color: main.$main-color1;
    }
    h4,
    p,
    a {
      font-size: 18px;
    }

    a::before {
      content: url(../../../../assets/img/iconmail.svg);
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  .legal-policy-links {
    a,
    .copyr-name {
      font-size: 14px;
    }
  }
}

.mobile-arrow-icons{
  display: none;
}
