/* Global styles */
@use './app/shared/mixin.scss' as main;
/* quantico-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quantico";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/quantico-v17-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quantico-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quantico";
  font-style: italic;
  font-weight: 400;
  src: url("../src/assets/fonts/quantico-v17-latin-italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quantico-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quantico";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/quantico-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quantico-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quantico";
  font-style: italic;
  font-weight: 700;
  src: url("../src/assets/fonts/quantico-v17-latin-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Quantico;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.d-none {
  display: none;
}

@keyframes remoteBg {
  0%,
  100% {
    background-image: url(./assets/img/remote.svg);
  }
  50% {
    background-image: url(./assets/img/remotehover.svg);
  }
}

@keyframes locationBg {
  0%,
  100% {
    background-image: url(./assets/img/Location.svg);
  }
  50% {
    background-image: url(./assets/img/LocationHover.svg);
  }
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveright {
  0% {
    transform: translateX(43px);
    color: main.$main-color3;
  }
  100% {
    transform: translateX(0);
    color: main.$main-color2;
  }
}