<nav>
    <div class="mobileClose">
        <img src="./assets/img/closemenu.svg" alt="">
    </div>   
    <div class="navmenu">
        <a href="#">Contact</a>
        <a href="#">My Work</a>
        <a href="#">Skills</a>
        <a href="#">Why me</a>
    </div>
    <div class="iconsandLanguage">
        <div class="icons">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <div class="setLanguage">
            <div class="active">EN</div>
            <div>DE</div>
        </div>
    </div>
</nav>