<nav [ngClass]="{'menu_open': toggle, 'menu_closed': !toggle}" >

    <div class="mobileClose">
        <img src="./assets/img/closemenu.svg" alt="" (click)="closeMenu.emit(false)">
    </div> 

    <div class="navmenu">
        <a href="#">{{'header.contact' | translate}}</a>
        <a href="#">{{'header.mywork' | translate}}</a>
        <a href="#">{{'header.skills' | translate}}</a>
        <a href="#">{{'header.whyme' | translate}}</a>
    </div>

    <app-iconssection></app-iconssection>

</nav>